Create a Music Playlist using STL containers.

Features need to be provided:
1. User should be able to create multiple playlist and save it for future use.

2. User should be able to pause/play the songs.

3. User should be able to switch to next or previous song.

4. User should be able to move the song up or down within the playlist.

************************************************************************



Learning Plan (Week 5)
STL Containers
- Maps: Understand the difference between with ordered map and unordered map. How to decide which one to use?
  Given two arrays, find the common elements in them using map
  Example 1:
  Input: nums1 = [1,2,2,1], nums2 = [2,2]
  Output: [2,2]

  Example 2:
  Input: nums1 = [4,9,5], nums2 = [9,4,9,8,4]
  Output: [4,9]

- Set: Differences between Maps and Set and when to use which data structure. Implement different operations on a set.
- Deque: Understand the concept of deque. Implement stack and queue using deque.
STL ContainersURL
MapsURL
SetURL
DequeURL
Music PlaylistAssignment